extends layout-base.html

block content
  .row
    .span12
      h1 InLoco
      p Resource Management software
      p InLoco is currently in beta
      p Register for free as a beta-tester
  .row
    .span12
      hr
  block main