extends layout-base.html

block content
  .row
    .span12
      h1 InLoco
      p Resource Management software
      p InLoco is currently in alpha
      p When we move to beta, you will be able to register for free as a beta-tester
  .row
    .span12
      hr
  block main