{% autoescape None %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InLoco &middot; Resource Management</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.0.2/css/ink.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
  </head>
  <body>
    <nav class="ink-navigation">
      <ul class="menu horizontal green">
        <li class="heading"><a href="#">Inloco</a>
        </li>
        <li><a href="#/home">Home</a>
        </li>
        <li><a href="#/calendar">Calendar</a>
        </li>
        <li><a href="#/preferences">Preferences</a>
        </li>{% if user_info.is_admin %}

        <li><a href="#">Admin</a>
          <ul class="submenu">
            <li><a href="#">Users</a>
            </li>
            <li><a href="#">Resource&nbsp;types</a>
            </li>
            <li><a href="#">Resources</a>
            </li>
          </ul>
        </li>{% end %}

        <li><a href="#">Logout</a>
        </li>
      </ul>
    </nav>
    <div class="ink-grid">
      <div class="column-group">
        <div id="view-home" class="all-100">
          <p>Home</p>
        </div>
        <div id="view-calendar" class="all-100 view-hide">
          <p>Calendar</p>
        </div>
        <div id="view-preferences" class="all-100 view-hide">
          <p>Preferences</p>
        </div>
      </div>
    </div>
  </body>
  <script data-main="/static/javascript/app" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.6/require.min.js"></script>
</html>